#main
	padding 0
	position relative
	background-color: #F0F3F5
	background-image: url(../img/backs/main.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size cover
	&:before
		content ''
		display block
		position absolute
		background-color: #cc922f
		width 245px
		height: 90px
		bottom: 0
		right 0
		z-index 1
.main
	&-container
		position relative
		z-index 20
	text-align center
	&-pre
		&-1
			font-size: 14px
			text-transform uppercase
			margin-bottom: 20px
			text-align: left
		&-2
			display inline
			font-size: 16px
			font-weight: bold
			background-color: #0f1f2f
			color #fff
			width 100%
			max-width 770px
			line-height: 35px
			padding 10px
			text-align center
	&-title
		font-family: GM
		font-size: 40px
		font-weight: 900
		text-transform uppercase
		text-shadow: 3px 0 0 #fff, 0 3px 0 #fff, -3px 0 0 #fff, 0 -3px 0 #fff, 0 0 3px #fff, 3px 3px 0 #fff, -3px -3px 0 #fff, 0 0 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff
		margin-bottom: 100px
		text-align center
	&-info
		position relative
		display inline-block
		&:before
			content: ''
			display block
			position absolute
			width 200%
			height: 100%
			background-color: #0F1F2F
			right -20px
			bottom: 0
			z-index 1
		&-text
			position relative
			z-index 20
			display inline-block
			font-size: 16px
			color #fff
			line-height: 50px
			span
				font-weight: bold