#decision
	padding 50px 0
	background-color: #EAEDED
	.container
		position relative
.decision-img
	position absolute
	right -200px
	bottom -50px
.general-title-decision
	width 100%
	max-width 770px
.general-wrapper-decision-3
	margin-top: 45px