#club
	padding 50px 0
	.container
		position relative
		&:before
			content: ''
			display block
			position absolute
			width 670px
			height: 174px
			bottom 0
			left: -330px
			background-color: #0F1F2F
.club-subtitle
	margin-bottom: 30px
.club-wrpper-list
	li
		list-style none
		padding-left: 26px
		margin-bottom: 30px
		position relative
		&:before
			content: ''
			display block
			position absolute
			top 5px
			left 0
			border-radius: 50px
			background-color: #CC922F
			width 14px
			height: 14px
.general-img-club
	img
		right 0
		top 70px
		z-index 0