#author
	padding 50px 0 130px
	background-color: #F0F3F5
	.container
		position relative
		&:before
			content: ''
			display block
			position absolute
			width 460px
			height: 175px
			bottom 0
			left: 216px
			background-color: #0F1F2F
	@media screen and (max-width 991px)
		padding 50px 0
	@media screen and (max-width 560px)
		padding 30px 0
.general-wrapper-author
	margin-top: 100px
	box-shadow: 0px 0px 57.04px 4.96px rgba(0, 42, 149, 0.19);
	@media screen and (max-width 991px)
		margin-top: 0
.general-img-author
	img
		top 0
		right 0