#video
	padding 50px 0 20px
	@media screen and (max-width 560px)
		padding 30px 0 0
.video-arrow
	position relative
	margin 60px 0 0
	&-img
		position absolute
		top -20px
		left 70px
	&-text
		position absolute
		font-size: 14px
		width 140px
		top 0
		right 100px
		@media screen and (min-width 2295px)
			width 220px
			font-size: 18px
			right 160px
	@media screen and (max-width 1199px)
		&-img
			left 20px
		&-text
			right 60px
	@media screen and (max-width 991px)
		margin 0 0 30px
		&-img
			position: static
			display block
			margin 20px auto 0
		&-text
			position: static
			width 100%
			text-align center
.video-wrapper-video
	margin-top: 140px
	max-width 650px
	@media screen and (max-width 991px)
		margin 0 auto 30px