#know
	padding 30px 0
	margin-top: 75px
	background-color #ECECEC
	background-image: linear-gradient(to right,#1e228d 32.8%,#ececec 0%)
	overflow hidden
	@media screen and (min-width 2295px)
		background-image: linear-gradient(to right,#1e228d 32.8%,#ececec 0%)
	@media screen and (max-width 1199px)
		background-image: linear-gradient(to right,#1e228d 23.8%,#ececec 0%)
		padding 20px 0
	@media screen and (max-width 991px)
		background-image: none
		padding 50px 0
	@media screen and (max-width 560px)
		padding 30px 0
		margin-top: 30px
.general-img-know
	img
		height inherit
		top 0
		right: 0
		@media screen and (min-width 2295px)
			top 30px
		@media screen and (max-width 991px)
			width 98%
.general-wrapper-know
	max-width 855px
	@media screen and (max-width 991px)
		width 98%
		margin-left: auto
		margin-right: auto