section#main
	.container
		include ../base/1-header
		.row
			.col-md-8
				p.pre-main
					span Инвестиционный проект My Capital Robotix
					| Онлайн-лекция “Алгоритмический трейдинг – инновационная стратегия торговли на криптовалютной бирже”
				h1.main-title Узнайте, как зарабатывать на криптовалютной бирже
					small в авторежиме с доходностью от 5% в месяц!
				.main-info
					p.main-info-text Дата и время проведения: 
						span 15 апреля в 19:00 (Мск)
					p.main-info-text Ведущий: 
						span Константин Беседин
			.col-md-4
				.main-img
					+imgs('','img/images/main.png')