section#main
	include ../base/1-header
	.container
		.row
			.col-md-8
				.main
					p.main-pre.main-pre-1 Инвестиционный проект My Capital Robotix
					p.main-pre.main-pre-2 Онлайн-лекция “Алгоритмический трейдинг – инновационная стратегия торговли на криптовалютной бирже”
					h1.main-title Узнайте, как зарабатывать на криптовалютной бирже
					h2.main-subtitle 
						span в авторежиме 
						span.main-subtitle-span
							span с доходностью от 5% в месяц!
				.main-info
					p.main-info-text Дата и время проведения: 
						span 22 апреля в 19:00 (Мск)
					p.main-info-text Ведущий: 
						span Константин Беседин