section#about
	.container
		.row
			.col-md-11
				+gt('general-title-white general-title-about','Мы действуем по уникальной стратегии, позволяющей зарабатывать с минимальными рисками!')
		.row
			.col-md-6.col-md-push-6
				.general-img.general-img-about
					+imgs('','img/images-2/about.png','Картинка блока')
			.col-md-6.col-md-pull-6
				.general-wrapper.general-wrapper-grey
					ul.general-list
						li - Работаем на Binance – лидирующей криптовалютной бирже в мире
						li - Диверсифицируем портфель: 70% держим в активах, 30% пускаем в торговлю
						li - У нас торгуют более 50-ти роботов-трейдеров собственной разработки
						li - Используем фьючерсы, что позволяет зарабатывать как на росте, так и на падении цен
						li - Мы управляем средствами «прозрачно» и предоставляем отчётность каждый месяц
					h4.general-wrapper-title.general-wrapper-title-about Узнайте подробности у нашего эксперта во время вебинара!
					h4.general-wrapper-extratitle Давайте приумножать капитал вместе – присоединяйтесь к нашей команде!
				+b('','button-up',href,'ХОЧУ ПОСЕТИТЬ ЛЕКЦИЮ!')