section#about
	.container
		.row
			.col-md-10
				+gt('general-title-about','Мы действуем по уникальной стратегии, позволяющей зарабатывать с минимальными рисками!')
		.row
			.col-md-6
				.general-wrapper.general-wrapper-white
					ul.general-list
						li - Работаем на Binance – лидирующей криптовалютной бирже в мире.
						li - Диверсифицируем портфель: 70% держим в активах, 30% пускаем в торговлю.
						li - У нас торгуют более 50-ти роботов-трейдеров собственной разработки. 
						li - Используем фьючерсы, что позволяет зарабатывать как на росте, так и на падении цен. 
						li - Мы управляем средствами «прозрачно» и предоставляем отчётность каждый месяц
					p.general-text.general-text-bold Узнайте подробности у нашего эксперта во время вебинара!
					p.about-text Давайте приумножать капитал вместе – присоединяйтесь к нашей команде!
				+b('',href,'ХОЧУ ПОСЕТИТЬ ЛЕКЦИЮ!')