section#know
	.col-lg-4.col-md-3
		.general-img.general-img-know
			+imgs('','img/images-2/know.jpg','Деньги')
	.col-lg-8.col-md-9
			+gt('','Что Вы узнаете во время онлайн-лекции')
			.general-wrapper.general-wrapper-grey.general-wrapper-know
				ul.general-list
					li - Торговля на криптовалютной бирже – будущее за инвестициями
					li - Прибыль или убыток: почему частные трейдеры часто уходят с рынка ни с чем
					li - Трейдер-человек и трейдер-робот: сходство и отличия
					li - Динамика вверх: как роботы могут повысить доходность торговли
					li - Принцип и преимущества роботизированной торговли
					li - Риск сбоя: может ли робот совершать убыточные сделки и что делать в такой ситуации
					li - Доверительное управление средствами – широкие возможности для Вас
					li - Гарантии сохранения капитала – наша фирменная стратегия
					li - Клуб инвесторов “Мой капитал”: знакомство с профи
					li - Наш инвестиционный портфель: лучшие кейсы
					li - Минимум и максимум: на какую прибыль можно рассчитывать
			+b('','button-up',href,'ХОЧУ ПОСЕТИТЬ ЛЕКЦИЮ!')