section#decision
	.container
		+imgs('decision-img','img/images-2/decision.png','Комп и графики')
		.content
			+gt('general-title-decision','Инновационное решение– алгоритмический трейдинг на базе технического анализа')
			.row
				.col-md-5
					.general-wrapper.general-wrapper-grey.general-wrapper-decision-1
						h4.general-wrapper-title Роботы для автоматизированной торговли на криптобирже способны:
						ul.general-list
							li - Самостоятельно контролировать процесс торгов;
							li - Повысить доходность от торговли на бирже в несколько раз;
							li - Зарабатывать даже в период падения рынков
				.col-md-5
					.general-wrapper.general-wrapper-grey.general-wrapper-decision-2
						h4.general-wrapper-title Скорость их торговли:
						ul.general-list
							li - Порядка 4000 операций купли-продажи за 1 час;
							li - Более 200 заявок в секунду или 6,5 млн. в день
			.row
				.col-md-7
					.general-wrapper.general-wrapper-grey.general-wrapper-decision-3
						h4.general-wrapper-title Мировые тенденции
						ul.general-list
							li - К апрелю 2018 г. до 50% всех сделок на Московской бирже совершалось с помощью компьютерных алгоритмов (по данным ЦБ)
							li - Более $44 млрд. активов управляют роботы в США, более $27 млрд. в Китае
							li - Более $16 трлн. активов в мире перейдёт управление роботов к 2025 году (по прогнозу Deloitte)
			+b('','button-up',href,'ПОПРОБОВАТЬ И ОЦЕНИТЬ ЛИЧНО')