section#club
	.container
			+gt('general-title-white general-title-club','Клуб инвесторов My Capital Club')
			h4.club-subtitle – это профессиональное сообщество людей, объединённых глобальной целью: открыть новые перспективные инструменты для приумножения капитала и помочь друг другу в их применении
			.row
				.col-md-7
					.general-wrapper.general-wrapper-grey
						h5.general-wrapper-title Преимущества сотрудничества с нами
						ul.club-wrpper-list
							li Мы выбираем только действительно эффективные направления для инвестиций
							li Проводим тщательный отбор проектов и партнёров
							li С нами работают лучшие эксперты по направлениям
							li Оптимальное соотношение доходности и рисков
							li Надёжность вложений за счёт диверсификации портфеля
							li Мы вкладываем в каждый проект собственные средства, поэтому напрямую заинтересованы в его прибыльности
				.col-md-5
					.general-img.general-img-club
						+imgs('','img/images/laptop.png','Лаптоп')