@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/popup.css'

@import 'base/2-base-0'
@import 'base/2-base-1'

@import 'base/3-header-1'
@import 'main-1/1-main'
@import 'main-1/2-form'
@import 'main-1/3-video'
@import 'main-1/4-about'
@import 'main-1/5-know'
@import 'main-1/6-decision'
@import 'main-1/7-club'
@import 'main-1/8-author'
@import 'main-1/9-last'
@import 'main-1/10-modal'