@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/popup.css'

@import 'base/2-base-0'
@import 'base/2-base-2'

@import 'base/3-header-2'
@import 'main-2/1-main'
@import 'main-2/2-form'
@import 'main-2/3-video'
@import 'main-2/4-about'
@import 'main-2/5-know'
@import 'main-2/6-decision'
@import 'main-2/7-club'
@import 'main-2/8-author'
@import 'main-2/9-last'
@import 'main-2/10-modal'