section#main
	.container
		include ../base/1-header
		.main
			p.main-pre.main-pre-1 Инвестиционный проект My Capital Robotix
			p.main-pre.main-pre-2 Онлайн-лекция “Алгоритмический трейдинг – полная автоматизация торговли на бирже уже сегодня”
			h1.main-title Узнайте, как зарабатывать с помощью алгоритмического трейдинга с доходностью от 5% в месяц!
		.main-info
			p.main-info-text Дата и время проведения: 
				span 15 апреля в 19:00 (Мск)
			p.main-info-text Ведущий: 
				span Константин Беседин