section#video
	.container
		.row
			.col-md-6
				.video-wrapper.video-wrapper-video
					iframe(src="https://www.youtube.com/embed/8737MPMY6x8?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
			.col-md-6
				.general-wrapper.general-wrapper-grey
					p.general-text Каждый трейдер-частник проводит перед компьютером большую часть времени, чтобы отслеживать ситуацию на рынке, читать новости мировой экономики и делать прогнозы. При этом часто не остаётся времени на отдых и личную жизнь. И периодически случаются моменты, когда получасовой перерыв оборачивается упущенной выгодой или убытками
					p.general-text.general-text-bold Чтобы анализировать огромные потоки данных, человеку требуется много времени. При этом всегда есть риск упустить что-то из виду и понести от этого убытки
					p.general-text Поэтому мы используем роботов-трейдеров, которые управляют торгами в режиме 24/7 и не пропускают все самые значимые события рынка
					h4.general-wrapper-title Будущее трейдинга – полная автоматизация. 
						br
						| Для нас это реальность уже сегодня!