section#about
	.container
		.row
			.col-md-10
				h3.general-title.general-title-about Мы действуем по уникальной стратегии, позволяющей зарабатывать 
					br
					| с минимальными рисками!
		.row
			.col-md-5.col-md-push-7
				.general-img.general-img-about
					+imgs('','img/images/about.jpg','График на ноутбуке')
			.col-md-7.col-md-pull-5
				.general-wrapper.general-wrapper-grey
					ul.general-list
						li - Диверсифицируем портфель: 70% держим в активах, 30% пускаем в торговлю
						li - У нас торгуют более 50-ти роботов-трейдеров собственной разработки
						li - Используем фьючерсы, что позволяет зарабатывать 
							br
							| как на росте, так и на падении цен
						li - Мы управляем средствами «прозрачно» и предоставляем отчётность каждый месяц
					h4.general-wrapper-title.general-wrapper-title-about Узнайте подробности у нашего эксперта 
						br
						| во время вебинара!
					h4.general-wrapper-extratitle Давайте приумножать капитал вместе – присоединяйтесь к нашей команде!
				+b('','button-up',href,'ЗАРЕГИСТРИРОВАТЬСЯ НА ЛЕКЦИЮ')