section#know
	.container
		+gt('general-title-right','Что Вы узнаете во время онлайн-лекции')
		.row
			.col-md-5
				.general-img.general-img-know
					+imgs('','img/images/know.jpg','Что Вы узнаете во время онлайн-лекции')
			.col-md-7
				.general-wrapper.general-wrapper-grey
					ul.general-list
						li - Прибыль или убыток: почему частные трейдеры часто уходят с рынка ни с чем
						li - Трейдер-человек и трейдер-робот: сходство и отличия
						li - Динамика вверх: как роботы могут повысить доходность торговли
						li - Принцип и преимущества роботизированной торговли
						li - Риск сбоя: может ли робот совершать убыточные сделки и что делать в такой ситуации
						li - Гарантии сохранения капитала – наша фирменная стратегия
						li - Минимум и максимум: на какую прибыль можно рассчитывать
						li - Доверительное управление средствами – широкие возможности для Вас
						li - Клуб инвесторов “Мой капитал”: знакомство с профи
						li - Наш инвестиционный портфель: лучшие кейсы
				+b('','button-up',href,'ХОЧУ ПОСЕТИТЬ ЛЕКЦИЮ!')