section#author
	.container
		+gt('general-title','В нашей команде – опытные трейдеры на биржах всех направлений')
		.row
			.col-md-5.col-md-push-7
				.general-img.general-img-author
					+imgs('','img/images/konstantin.jpg','Константин Беседин')
			.col-md-7.col-md-pull-5
				.general-wrapper.general-wrapper-grey.general-wrapper-author
					h4.general-wrapper-title Константин Беседин
					ul.general-list
						li - Руководитель направления «Алгоритмический трейдинг»
						li - Эксперт в сфере автоматической торговли и управления на финансовом рынке
						li - Профессиональный портфельный управляющий с 10-летним опытом
						li - Аттестованный специалист ФСФР и ЦБ РФ
						li - Клиентский портфель – более $8 млн.