.button
	display inline-block
	text-align center
	margin 0 auto
	text-decoration none
	color: #fff
	font-family: GM
	font-size: 18px
	text-transform uppercase
	padding 19px 25px 20px
	background-color: #CC922F
	min-width 220px
	transition: all .3s ease
	&:focus
		text-decoration none
		color #fff
		background-color: #CC922F
	&:hover
		text-decoration none
		color #fff
		background-color: #CC922F - 25%
	&-wrapper-center
		text-align center
.general-wrapper
	&-grey
		padding 40px 30px
		background-color: #f9f9fa
		border 1px solid #dbdcde
		margin-bottom: 30px
		position relative
		z-index 25
	&-title
		text-transform uppercase
		font-family GM
		font-size: 18px
		font-weight: 900
		margin-bottom: 30px
	&-extratitle
		text-transform uppercase
		font-family GM
		font-size: 22px
		font-weight: 900
.general-text
	margin-bottom: 30px
	&-bold
		font-weight: bold
.general-title
	font-family: GM
	font-size: 35px
	font-weight: 900
	text-transform uppercase
	margin-bottom: 50px
	&-right
		text-align right
.general-list
	list-style none
.content
	position relative
	z-index 40
.general-img
	position relative
	padding-top: 100%
	img
		position absolute
		width auto