header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
.logo
	float left
	overflow hidden
	&-link
		float: left
	&-text
		border-left: 1px solid #cc922f
		margin-left: 10px
		padding-left: 10px
		color: #cc922f
		font-size: 14px
		font-family: GM
		font-weight: normal
		float: left
.contacts
	float: right
	text-align right
	line-height: 1.315
.contact
	font-family: GM
	text-align: left
	background-repeat: no-repeat
	background-position: center left
	display inline-block
	&&-tg
		padding-left: 38px
		background-image: url(../img/icons/telegram.png)
	&&-phone
		padding-left: 28px
		background-image: url(../img/icons/phone.png)
		margin-left: 40px
	&-text
		color: #cc922f
		font-size: 14px
		font-weight: normal
	&-link
		display block
		font-size: 18px
		font-weight: bold
		color #0f1f2f
		&:active
			color #0f1f2f
			text-decoration none
		&:hover
			color #0f1f2f
			text-decoration underline